<div class="caseArea">
  <div class="caseInfo">
    <div class="titleArea">
      <h2>CASE STUDIES</h2>
      <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients.</p>
      <span class="titleBord"></span>
    </div>

    <div class="caseDetails">
      <ul>
        <li>
          <div class="icon_info">
            <img src="../assets/images/g4.jpg" alt=" " class="img-responsive">
            <h5>Nutrition Reference</h5>
            <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
            <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
          </div>
        </li>

        <li>
          <div class="icon_info">
            <img src="../assets/images/g7.jpg" alt=" " class="img-responsive">
            <h5>Injury Prevention</h5>
            <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
            <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
          </div>
        </li>
        <li>
          <div class="icon_info">
            <img src="../assets/images/g6.jpg" alt=" " class="img-responsive">
            <h5>Catheterization Lab</h5>
            <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
            <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>