<div class="header">
  <!-- top info area -->
  <div class="topInfo">
    <div class="topInfoArea">
      <div class="header_left">
        <ul>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i> 1143 New York, USA</li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i> +(010) 221 918 811</li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="mailto:info@example.com">info@example.com</a>
          </li>
        </ul>
      </div>

      <ul class="forms_right">
        <li>
          <a routerLink="/appointmant" routerLinkActive="active-link"> Make an Appointment</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- navigation area -->
  <div class="topArea">
    <div class="topAreaAll">
      <div class="logo">
        <a href="">
          <h1>
            <span class="fa fa-stethoscope" aria-hidden="true"></span>DENTAL WORLD </h1>
        </a>
      </div>
      <div class="nav">
        <ul>
          <li>
            <a routerLink="" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
          <li>
            <a routerLink="/departments" routerLinkActive="active-link">Departments</a>
          </li>
          <li>
            <a routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
          </li>

          <li>
            <a routerLink="/contact" routerLinkActive="active-link">Cotact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>