<div class="footer">
  <div class="footerArea">
    <ul>
      <li>
        <div class="abText">
          <h3>About Us</h3>
          <p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue eros.</p>
        </div>
      </li>
      <li>
        <h3>Latest News</h3>
        <ul class="footLatest">
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Lorem ipsum neque vulputate </a>
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Dolor amet sed quam vitae</a>
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Lorem ipsum neque, vulputate </a>
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Dolor amet sed quam vitae</a>
          </li>
          <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Lorem ipsum neque, vulputate </a>
          </li>
        </ul>
      </li>
      <li>
        <h3>Contact Info</h3>
        <ul class="address">
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>8088 USA, Honey block, New York City.</span>
          </li>
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              <a href="mailto:info@example.com">info@example.com</a>
            </span>
          </li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              <a href="tel:+09187 8088 9436"> +09187 8088 9436</a>
            </span>
          </li>
        </ul>
      </li>
      <li class="newsLetter">
        <h3>Sign up Newsletter</h3>
        <p>Get Started For Free</p>
        <p class="textLetter">Nam libero tempore cum vulputate id est id, pretium semper enim.</p>
        <div class="footer_grid_right">
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Email Address..." required="">
            <input type="submit" value="Submit">
          </form>
        </div>
      </li>

    </ul>
  </div>
</div>
<div class="copyWrite">
  <p>© 2018 New Clinic. All rights reserved | Design by
    <a href="#">Prem Singh Rawat</a>
  </p>
</div>