<div class="bannerArea">
    <img src="../assets/images/departmant-banner.jpg">
</div>




<!-- Departments page -->
<div class="departArea">
    <div class="departInfo">

        <div class="titleArea">
            <h2>Departments</h2>
            <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients. </p>
            <span class="titleBord"></span>
        </div>

        <ul>


            <li>
                <div class="departList">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    <h4>Cardiology</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    <h4>TRAUMOTOLOGY</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
                    <h4>FOR DISABLED </h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                    <h4>PULMONARY</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                    <h4>GYNAECOLOGY </h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                    <h4>DENTAL</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    <h4>X-RAY</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                    <h4>NEPHROLOGY</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    <h4>NEUROLOGY</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->
        </ul>
    </div>
</div>
<!-- end Departments page -->