<div class="bannerArea">
  <img src="../assets/images/about-banner.jpg">
</div>


<!-- About us page -->

<div class="aboutArea">


  <div class="aboutInfo">
    <div class="titleArea">
      <h2>WHAT WE DO</h2>
      <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients.</p>
      <span class="titleBord"></span>
    </div>
  </div>

  <div class="aboutDo">
    <div class="aboutPic">
      <img src="../assets/images/g6.jpg" />
    </div>
    <div class="aboutIntro">
      <h2>assumenda est cliche repren</h2>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
      </p>
    </div>

    <div class="aboutIntro">
      <h2>Itaque earum rerum</h2>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
      </p>
    </div>
  </div>

  <div class="aboutSpecial">

    <div class="titleArea">
      <h2>MEDICAL SPECIALISTS</h2>
      <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients.</p>
      <span class="titleBord"></span>
    </div>

    <ul>

      <li>
        <div class="teamInfo">
          <div class="picArea">
            <img src="../assets/images/t1.jpg" />
          </div>
        </div>
        <div class="teamDetails">
          <h3>Frankline</h3>
          <div class="team-social">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
          <p>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>CONSULTING DOCTOR</p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +02 133 4567</p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:info@example.com"> mail@example.com</a>
          </p>
        </div>
      </li>

      <li>
        <div class="teamInfo">
          <div class="picArea">
            <img src="
            ../assets/images/t2.jpg" />
          </div>
        </div>
        <div class="teamDetails">
          <h3>GUPTILL</h3>
          <div class="team-social">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
          <p>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>DENTAL HYGIENIST </p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +02 133 4222</p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:info@example.com"> mail@example.com</a>
          </p>
        </div>
      </li>

      <li>
        <div class="teamInfo">
          <div class="picArea">
            <img src="
            ../assets/images/t3.jpg" />
          </div>
        </div>
        <div class="teamDetails">
          <h3>MITCHEL</h3>
          <div class="team-social">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
          <p>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>PEDIATRICIAN</p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +02 133 4344</p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:info@example.com"> mail@example.com</a>
          </p>
        </div>
      </li>

      <li>
        <div class="teamInfo">
          <div class="picArea">
            <img src="../assets/images/t4.jpg" />
          </div>
        </div>
        <div class="teamDetails">
          <h3>JOHN PAUL </h3>
          <div class="team-social">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
          <p>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>CARDIAC SURGEON

          </p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +02 133 7897</p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:info@example.com"> mail@example.com</a>
          </p>
        </div>
      </li>
    </ul>
  </div>

</div>
<!-- end About us page -->