<!-- treatment -->
<div class="treatArea">
    <div class="treatInfo">
        <div class="titleArea">
            <h2>THERAPIES & TREATMENTS</h2>
            <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients.</p>
            <span class="titleBord"></span>
        </div>
        <ul>
            <li>
                <div class="departList">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    <h4>ANXIETY</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    <h4>EXECUTIVE COACHING </h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
                    <h4>DEPRESSION </h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                    <h4>RELATIONSHIPS</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                    <h4>STRESS MANAGEMENT
                    </h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->

            <li>
                <div class="departList">
                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                    <h4>SUPPORT GROUP
                    </h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </li>
            <!-- end list -->
        </ul>
    </div>
</div>
<!-- end treatment -->