<div class="bannerArea">
  <img src="../assets/images/gallery-banner.jpg">
</div>

<!-- gallery Area -->
<div class="galleryArea">
  <div class="galleryInfo">
    <div class="titleArea">
      <h2>OUR GALLERY</h2>
      <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients. </p>
      <span class="titleBord"></span>
    </div>

    <div class="galleryList">
      <ul>
        <li>
          <div class="galleryPic">
            <img src="../assets/images/g1.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->

        <li>
          <div class="galleryPic">
            <img src="../assets/images/g2.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->
        <li>
          <div class="galleryPic">
            <img src="../assets/images/g3.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->

        <li>
          <div class="galleryPic">
            <img src="../assets/images/g4.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->
        <li>
          <div class="galleryPic">
            <img src="../assets/images/g5.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->

        <li>
          <div class="galleryPic">
            <img src="../assets/images/g6.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->
        <li>
          <div class="galleryPic">
            <img src="../assets/images/g7.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->

        <li>
          <div class="galleryPic">
            <img src="../assets/images/g8.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->

        <li>
          <div class="galleryPic">
            <img src="../assets/images/g9.jpg" />
            <div class="picTitle">
              <p>Proin vitae luctus dui, sit amet ultricies leo</p>
            </div>
          </div>
        </li>
        <!-- end list -->


      </ul>
    </div>
  </div>
</div>
<!-- end gallery Area -->