<div class="welcomeArea">
  <div class="welcomeInfo">

    <div class="titleArea">
      <h2>WELCOME TO OUR CLINIC! </h2>
      <p>We Offer Extensive Medical Procedures To Outbound And Inbound Patients. </p>
      <span class="titleBord"></span>
    </div>

    <ul>
      <li>
        <div class="ab1 agileits-about-grid1">
          <h4 class="agileinfo-head">For Adults</h4>
          <p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
          <h5>ANXIETY </h5>
          <h5>DEPRESSION</h5>
          <h5>ADHD </h5>
          <h5>BIPOLAR DISORDER</h5>
          <h5>A – Z OF ISSUES</h5>
        </div>
      </li>

      <li>
        <div class="ab1 agileits-about-grid2">

          <h4 class="agileinfo-head">For Children</h4>
          <p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
          <h5>ADHD </h5>
          <h5>ASPERGERS AND AUTISM</h5>
          <h5>DEPRESSION</h5>
          <h5>ANXIETY DISORDERS</h5>
          <h5>A – Z OF ISSUES</h5>
        </div>
      </li>

      <li>
        <div class="ab1 agileits-about-grid3">

          <h4 class="agileinfo-head">For Business</h4>
          <p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
          <h5>MEDICO LEGAL REPORTS </h5>
          <h5>OCCUPATIONAL HEALTH</h5>
          <h5>LOCUMS AND STAFFING</h5>
          <h5>NEUROPSYCHOLOGICAL ASSESSMENTS</h5>
          <h5>MENTAL CAPACITY ASSESSMENTS</h5>
        </div>
      </li>
    </ul>
  </div>
</div>